.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
body {
  margin: 0;
  padding: 0;
  background-color: c_grey2;
  color: c_black1;
  font: 16px Helvetica;
}
.container {
  background-color: c_grey1;
}
.top {
  background-color: c_white1;
}
.top > .inner {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}
.top > .inner > .logo {
  float: left;
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: c_grey2;
  margin: 0 0 0 20px;
}
.top > .inner > .divider {
  float: left;
  width: 1px;
  height: 40px;
  background-color: c_grey2;
  margin: 0 30px;
}
.top > .inner > .title {
  float: left;
  font: 32px Impact;
}
.btn1 {
  color: c_white1;
  background-color: c_blue2;
  padding: 1em 2em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.btn1 > .inner {
  text-align: center;
  font: 16px Helvetica;
}
@font-face {
  font-family: roboto-light;
  src: url("fnt/roboto/roboto-light.eot");
  src: url("fnt/roboto/roboto-light.eot?#iefix") format('embedded-opentype'), url("fnt/roboto/roboto-light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: roboto-bold;
  src: url("fnt/roboto/roboto-bold.eot");
  src: url("fnt/roboto/roboto-bold.eot?#iefix") format('embedded-opentype'), url("fnt/roboto/roboto-bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
