.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ededed;
  color: #000;
  font: 16px Helvetica;
}
.container {
  background-color: #f2f2f2;
}
.top {
  background-color: #fff;
}
.top > .inner {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}
.top > .inner > .logo {
  float: left;
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #f2f2f2;
  margin: 0 0 0 20px;
}
.top > .inner > .divider {
  float: left;
  width: 1px;
  height: 40px;
  background-color: #ededed;
  margin: 0 30px;
}
.top > .inner > .title {
  float: left;
  font: 32px Impact;
  color: #18bee9;
}
