
vendor-prefixes ?= webkit moz o ms official

// needed
@import vendor
@import mixins
@import variables

c = {}
for key, value in data.colors
  c[key] = convert(value)

.clear
  clearfix()

body
  margin 0
  padding 0
  background-color c_grey2
  color c_black1
  font f_copy

.container
  background-color c_grey1

.top
  background-color c_white1
  > .inner
    desktop()
    padding 20px 0
    > .logo
      float left
      width 160px
      height 40px
      text-align center
      line-height 40px
      background-color c_grey1
      margin 0 0 0 20px
    > .divider
      float left
      width 1px
      height 40px
      background-color c_grey2
      margin 0 30px
    > .title
      float left
      font f_h1
      color: c.blue1

