
vendor-prefixes ?= webkit moz o ms official

// needed
@import vendor
@import mixins
@import variables

// components
@import 'inc/*'

// pages
@import guide

.clear
  clearfix()

body
  margin 0
  padding 0
  background-color c_grey2
  color c_black1
  font f_copy

.container
  background-color c_grey1

.top
  background-color c_white1
  > .inner
    desktop()
    padding 20px 0
    > .logo
      float left
      width 160px
      height 40px
      text-align center
      line-height 40px
      background-color c_grey2
      margin 0 0 0 20px
    > .divider
      float left
      width 1px
      height 40px
      background-color c_grey2
      margin 0 30px
    > .title
      float left
      font f_h1

.btn1
  color c_white1
  background-color c_blue2
  padding 1em 2em
  border-radius 0.25em
  > .inner
    text-align center
    font f_copy

@import fonts

