
f_size = 16px

f_copy = f_size roboto-light
f_copyb = f_size roboto-bold
f_h0 = f_size*6 roboto-light
f_h1 = f_size*2 roboto-light
f_h2 = f_size*1.5 roboto-light
f_h3 = f_size*1.25 roboto-light

// jsn/guide.json colors
json('../jsn/guide.json')

